
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.container {
    width: 970px;
}

body {
    background: #ffffff;
    font-family: 'Nunito', sans-serif;}

html, body {
    height: auto;
    position: relative;
}

.bookContentBg {
    background: #FBF7F0;
    position: absolute;
    height: auto !important;
    min-height: 100%;
    width: 100%;
    z-index: -1;
    top: 260px;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}



.inputText {
    background: #F3F3F3;
    border: 1px solid #DADADA;
    height: 40px;
    width: 70%;
    border-radius: 8px;
    margin-top: 16px;
}

.primary-button {
    padding: 10px 32px;
    background: #FFB154;
    box-shadow: 0 4px 0 0 #FA7D0F;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0 36px;
}
    .primary-button:hover {
        cursor: pointer;
    }
    
    .secondary-button {
        padding: 8px 16px;
        background: #FFB154;
        box-shadow: 0 4px 0 0 #FA7D0F;
        border-radius: 8px;
        font-size: 12px;
        font-weight: 700;
        margin: 0;
    }
    
    .sectionTitle{
        font-size: 18px;
        font-weight: 700;
    }

.title {
    display: flex;
    justify-content: space-between;
}
    .title ul {
        display: flex;
    }
        .title ul li {
            list-style: none;
            margin-left: 20px;
            color: #9B9B9B;
            font-size: 14px;
        }